<div class="col-md-5"></div>
<div class="col-md-4">
  <h1>Login</h1>

  <%= form_tag '/login' do %>

    Email:<br> <%= text_field_tag :email %><br>
    Password:<br> <%= password_field_tag :password %><br>
    <br>
    <%= submit_tag "Submit" %>

  <% end %>

  <div class="user-form">
  <h2> Create an account </h2>
  <%= form_for @user do |f| %>

    <div class="field">
      <%= f.label :user_name %><br>
      <%= f.text_field :user_name %>
    </div>

    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>


    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation %>
    </div>
    <br>
    <div class="field actions">
      <%= f.submit "Register", :class => "submit-user" %>
    </div>
    
  <% end %>
  </div>
</div>