<div class="form">
	
	<%= form_for @project, :html => {:multipart => true} do |f| %>
		<div class="form-group">
			<%= f.label "Project's Title: " %>
			<%= f.text_field :title, :class => 'form-control' %>
		</div>

		<div class="form-group">
			<%= f.label "Description: " %>
			<%= f.text_area :description, :class => 'form-control' %>
		</div>

		<div class="form-group">
			<%= f.label "Currency: " %>
			<%= f.text_field :currency, :class => 'form-control'%>
		</div>

		<div class="form-group">
			<%= f.label "Budget: " %>
			<%= f.text_field :budget, :class => 'form-control' %>
		</div>

		<div class="form-group">
			<%= f.label "Jobs: " %>
			<%= f.text_field :jobs, :class => 'form-control' %>
		</div>
		
		<div class="submit-field">
			<%= f.submit :class => "btn btn-primary" %>
		</div>
	<% end %>

</div>