
<div class="col-md-5"></div>

<div class="col-md-3">
	<h2> <%= @project.title %> </h2>
	<br>
	<h5> What you need: </h5> <p> <%= @project.description %> </p>
	<h5> Type of Currency: </h5> <p> <%= @project.currency %> </p>
	<h5> Budget: </h5> <p> <%= @project.budget %> </p>
	<h5> Skills Required: </h5> <p> <%= @project.jobs %> </p>

	<br>
	<br>
	<div class="bids">
		<% @project.bids.each do |bid| %>
			<div class="bidder">
				<%= image_tag("#{ bid.avatar }") %>
				<p> Name: <%= link_to "#{ bid.name }", bid_path(bid.id) %> </p>
				<p> Location: <%= bid.location %> </p>
				<p> Reputation: <%= bid.reputation %> </p>
				<p> Skills: <%= bid.skills %> </p>
			</div>
		<% end %>
	</div>

	<button id="bid-check">Check For Bidders</button>

	<br>
	<%= link_to "Edit Project", edit_project_path(@project.id) %>
	-
	<%= link_to "I no longer need help", project_path(@project.id), method: :delete, data: { confirm: 'Are you sure' } %>
</div>